<h1>Add a Parcel</h1>

<form action="/parcels" method="post">
  <div class="form-group">
    <label for="Length">Length</label>
    <input name="Length" class="form-control" type="text">
    <label for="Width">Width</label>
    <input name="Width" class="form-control" type="text">
    <label for="Height">Height</label>
    <input name="Height" class="form-control" type="text">
    <label for="Weight">Weight</label>
    <input name="Weight" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
